<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ve.com.abicelis.Checkliz">

    <!--pakai kamera-->
    <uses-feature android:name="android.hardware.camera" />

    <!-- ini untuk izin -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!--ini embed-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--ini map-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="ve.com.abicelis.Checkliz.app.activities.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="ve.com.abicelis.Checkliz.app.activities.TaskActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="ve.com.abicelis.Checkliz.app.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="ve.com.abicelis.Checkliz.app.activities.EditImageAttachmentActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="ve.com.abicelis.Checkliz.app.activities.ViewImageAttachmentActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="ve.com.abicelis.Checkliz.app.activities.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="ve.com.abicelis.Checkliz.app.activities.PlaceListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="ve.com.abicelis.Checkliz.app.activities.PlaceActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="ve.com.abicelis.Checkliz.app.activities.TaskDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="ve.com.abicelis.Checkliz.app.activities.HomeActivity">
            <!--Preserving navigation-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ve.com.abicelis.Checkliz.app.activities.HomeActivity"/>
        </activity>

        <activity
            android:name="ve.com.abicelis.Checkliz.app.activities.SettingsActivity"
            android:theme="@style/AppPreferenceTheme">
        </activity>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/> <!-- optional (needed if default theme has no action bar) -->



        <!--kamera-->
        <provider
            android:authorities="ve.com.abicelis.Checkliz.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <!-- penerima -->
        <receiver android:name="ve.com.abicelis.Checkliz.app.services.BootCompletedBroadcastReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="ve.com.abicelis.Checkliz.app.services.TriggerTaskNotificationReceiver" />


        <!-- servis -->
        <!--notifikasi-->
        <service android:name="ve.com.abicelis.Checkliz.app.services.NotificationIntentService" />

        <!--tempat task-->
        <service android:name="ve.com.abicelis.Checkliz.app.services.TaskActionsIntentService" />

        <service android:name="ve.com.abicelis.Checkliz.app.services.GeofenceNotificationIntentService"/>

        <service
            android:name="ve.com.abicelis.Checkliz.app.services.FetchAddressIntentService"
            android:exported="false"/>

    </application>

</manifest>